@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	height: 100vh;
	overflow: hidden;
}

body {
	background: linear-gradient(-45deg, #2c3648, #4c5663, #58739b, #3aabc5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}